* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(239, 239, 239);
}

body {
    height: 500vh;
}

/* header part */

#the-header {
    height: 11.40%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 3.5%;
    z-index: 2;
    position: fixed;
}

#head-1 {
    width: 9%;
    height: 59%;
    background-color: white;
    background-image: url(flipkart-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    cursor: pointer;
}

#head-2 {
    width: 42.5%;
    height: 63%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 1%;
}

#search-bar {
    height: 96%;
    width: 98%;
    font-size: 113%;
    font-weight: lighter;
    padding-left: 9%;
    border: none;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    background-color: rgb(239, 243, 255);
}

#search-icon {
    position: relative;
    left: 6.5%;
    font-size: larger;
    color: gray;
    background-color: rgb(239, 243, 255);
    cursor: pointer;
}

#head-3 {
    width: 10%;
    height: 58%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 105%;
    position: relative;
    right: 1.2%;
    font-weight: lighter;
    color: rgb(36, 36, 36);
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
}

#user-icon {
    font-size: 110%;
    background-color: white;
    transition: all 0.2s ease-out 0s;
}

#login-arrow {
    transform: rotate(90deg);
    font-weight: bold;
    background-color: white;
    position: relative;
    right: 3%;
    transition: all 0.2s ease-out 0s;
}

#login-btn {
    background-color: white;
    font-weight: lighter;
    transition: all 0.2s ease-out 0s;
}

#head-4 {
    width: 8%;
    height: 58%;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 2%;
    font-family: 110%;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

#cart-btn {
    position: relative;
    right: 4%;
    background-color: white;
}

#cart-icon {
    background-color: white;
}

#head-5 {
    width: 12%;
    height: 58%;
    background-color: white;
    position: relative;
    right: 2.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(36, 36, 36);
    font-family: 110%;
    cursor: pointer;
}

#shop-icon {
    background-color: white;
}

#seller-btn {
    background-color: white;
}

#head-6 {
    width: 3%;
    height: 58%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2%;
    color: rgb(36, 36, 36);
    border-radius: 10px;
    cursor: pointer;
}

#threedots-icon {
    background-color: white;
}

#head-6:hover {
    border: 0.5px solid rgb(211, 211, 211);
}

/* main part */

#login-popup {
    height: 50%;
    width: 22%;
    background-color: white;
    margin-left: 58.6%;
    position: fixed;
    top: 9.2%;
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid black;
    display: none;
}

#second-box {
    height: 4.85%;
    width: 98.8%;
    background-color: white;
    position: relative;
    top: 2.55%;
    left: 1.2%;
    border-bottom: 1px solid rgb(232, 232, 232);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sb {
    height: 60%;
    width: 8%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(36, 36, 36);
    font-size: 90%;
    cursor: pointer;
}

.sb-one {
    height: 70%;
    width: 60%;
    background-color: white;
}

.sb-two {
    height: 20%;
    width: 90%;
    text-align: center;
    font-weight: bold;
}

#sb-11 {
    background-image: url(all-images/grocery-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-21 {
    background-image: url(all-images/mobiles-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-31 {
    background-image: url(all-images/fashion-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-41 {
    background-image: url(all-images/electronics-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-51 {
    background-image: url(all-images/home-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-61 {
    background-image: url(all-images/appliances-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-71 {
    background-image: url(all-images/travel-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-81 {
    background-image: url(all-images/toys-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sb-91 {
    background-image: url(all-images/twowheelers-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.sb-texts {
    background-color: white;
}

.sb-texts:hover {
    color: rgb(84, 127, 255);
}

#third-box {
    height: 7.02%;
    width: 98.8%;
    background-color: white;
    position: relative;
    top: 3.13%;
    left: 1.2%;
    background-image: url(all-images/sale-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fourth-box {
    height: 6.20%;
    width: 98.8%;
    background-color: white;
    position: relative;
    top: 3.65%;
    left: 1.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fb-samesize {
    height: 100%;
    width: 32.6%;
    cursor: pointer;
}

#fb-1 {
    background-image: url(kitchenoff-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#fb-2 {
    background-image: url(clothingoff-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#fb-3 {
    background-image: url(haircareoff-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#fifth-box {
    height: 11.77%;
    width: 98.8%;
    background-color: white;
    position: relative;
    top: 4.20%;
    left: 1.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#fifthb-one {
    height: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 1.45%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 135%;
    font-weight: bold;
    position: relative;
    bottom: 1.5%;
}

#fifthb-one p {
    background-color: white;
}

#fifthb-two {
    height: 73%;
    background-color: white;
    position: relative;
    bottom: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ftwo {
    height: 98%;
    width: 18.5%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
}

.ftwo-1 {
    height: 70%;
    width: 90%;
}

.ftwo-1:hover {
    transform: scale(1.02);
}

.ftwo-2 {
    height: 7%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: rgb(36, 36, 36);
    margin-top: 10%;
}

.ftwo-3 {
    height: 11%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(36, 36, 36);
    margin-bottom: 5%;
}

#ft-11 {
    background-image: url(all-images/puma-image.avif);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

#ft-21 {
    background-image: url(all-images/fastrack-image.webp);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

#ft-31 {
    background-image: url(all-images/watch-image.avif);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

#ft-41 {
    background-image: url(all-images/jj-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

#ft-51 {
    background-image: url(all-images/kurta-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth-box {
    height: 36%;
    width: 98.8%;
    background-color: white;
    position: relative;
    top: 5.20%;
    left: 1.2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sixthboxes {
    height: 21%;
    width: 32.5%;
    cursor: pointer;
}

#sixth1 {
    background-image: url(all-images/vivo-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth2 {
    background-image: url(all-images/moto-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth3 {
    background-image: url(all-images/poco-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth4 {
    background-image: url(all-images/iron-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth5 {
    background-image: url(all-images/wm-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth6 {
    background-image: url(all-images/cf-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth7 {
    background-image: url(all-images/decor-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth8 {
    background-image: url(all-images/bedsheet-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth9 {
    background-image: url(all-images/tools-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth10 {
    background-image: url(all-images/speakers-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth11 {
    background-image: url(all-images/mattress-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#sixth12 {
    background-image: url(all-images/fragrance-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}




